h1 {
    color:blueviolet;
    text-align: center;
}

h2 {
    background: linear-gradient(to right, darkcyan, orange, rgb(172, 8, 167), rgb(25, 174, 184), blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    text-align: center;
}

h3 {
    color:palevioletred;
    text-align: center;
}  

p {
    background: linear-gradient(to right, darkcyan, orange, rgb(172, 8, 167), rgb(25, 174, 184), blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    text-align: center;
}

li {
    color: darkcyan;
    font-size: 30px;
    list-style-type: square;
}

body {
    background-color: papayawhip;
}

a {
    font-size: 30px;
}

span{
    font-weight: bold;
}

.grid {
    display:grid;
    grid-template-columns: 1fr 1fr ;
    row-gap: 10px;
    column-gap: 10px;
}

.grid-picture{
    margin: 30;
    padding: 30;
}

img {
    border-radius: 50%;
    
}

.topnav{
    background: linear-gradient(to right, darkcyan, orange, rgb(172, 8, 167), rgb(25, 174, 184), blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
}

.topnav a {
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
}